<q-card-section>
  <p><b>Bitcoin Numbers</b></p>
  <h5 class="text-subtitle1 q-my-none">
    A provably fair "numbers" game, powered by Bitcoin block data.
  </h5>
  <p>
    Set a date/time and odds. At that time, the latest Bitcoin block hash will
    be fetched and a winning number calculated.
    <br /><br /><strong>How it works:</strong> <br />On the closing date, the
    game takes the last block hash and converts it to a number between 0 and
    (whatever you set the odds to). <br />The higher the odds, the more
    difficult it is to win / the more users win (minus haircut). <br />Max odds
    is 10,000,000-1. <br />
    <br /><strong>Example:</strong> <br />If the odds are 10-1, the player picks
    a number between 0-9, and if they win, they 10x their sats (minus the
    haircut). <br /><br /><strong>Risks:</strong> <br />This game relies on
    block data from mempool.space, which means you're trusting them not to
    manipulate it. <br />In theory, this game could skew mining incentives if
    the prize were so big that it is in the miners' interest to mine a block
    with a certain hash ending.
  </p>
</q-card-section>
<q-expansion-item
  group="extras"
  icon="swap_vertical_circle"
  label="API info"
  :content-inset-level="0.5"
>
  <q-btn flat label="Swagger API" type="a" href="../docs#/numbers"></q-btn>
</q-expansion-item>
