
<q-card-section>
  <p><b>Bitcoin Numbers</b></p>
  <h5 class="text-subtitle1 q-my-none">
    A provably fair numbers game, powered by Bitcoin block data.
  </h5>
  <p>
    Set a date/time, and at that time the latest bitcoin block hash will be fetched and a winning number calculated.
  </br>Risks: This game relies on block data from mempool.space, which means you're trusting them not to manipulate it. In theory, if the prize were large enough, miners might try to influence the outcome—but that would require a very LARGE jackpot to make it worthwhile.
</p>
</q-card-section>
</q-card-section>
<q-expansion-item
  group="extras"
  icon="swap_vertical_circle"
  label="API info"
  :content-inset-level="0.5"
>
  <q-btn flat label="Swagger API" type="a" href="../docs#/numbers"></q-btn>
</q-expansion-item>
