{% extends "public.html" %} {% block page %}
<q-card
  class="fixed-center q-pa-xl"
  :style="{ width: $q.screen.lt.sm ? '100%' : '600px' }"
>
  <q-card-section class="q-pa-none" v-if="!completed">
    <center>
      <h3 class="q-my-none q-mb-xl"><span v-text="numbers.name"></span></h3>
    </center>
    <div class="row justify-center q-gutter-md">
      <div class="col-auto">
        <q-badge outline size="xl" color="secondary">
          <div class="text-subtitle1">
            Closing date: <span v-text="numbers.closing_date"></span>
          </div>
        </q-badge>
      </div>
      <div class="col-auto">
        <q-badge outline size="xl" color="secondary">
          <div class="text-subtitle1">
            Max Buy In: <span v-text="numbers.buy_in_max"></span> sats
          </div>
        </q-badge>
      </div>
      <div class="col-auto">
        <q-badge outline size="xl" color="secondary">
          <div class="text-subtitle1">
            Fee: <span v-text="numbers.haircut"></span> %
          </div>
        </q-badge>
      </div>
      <div class="col-auto">
        <q-badge outline size="xl" color="secondary">
          <div class="text-subtitle1">
            Odds: <span v-text="odds"></span>-1
          </div>
        </q-badge>
      </div>
      <div class="col-auto">

        <q-badge @click="algorithm = true" outline size="xl" color="secondary">
          <div class="text-subtitle1">
            Provably fair algorithm
          </div>
        </q-badge>
      </div>
    </div>

    <q-form @submit="joinGame" class="q-gutter-md">
      <div class="row justify-center q-gutter-md">
        <div class="col-2">
      <q-input
      label="Bet amount"
      type="number"
      v-model="amount"
      required
    ></q-input>
    </div>
    <div class="col-2">
    <q-input
    :label="'Number between 0 and ' + (odds - 1)"
    v-model="number"
    lazy-rules
    :rules="[val => val >= 0 || 'Number must be greater than 0', val => val < odds || 'Number must be less than ' + odds]"
    type="number"
    required
  ></q-input>
</div>
<div class="col-6">

      <q-input
        label="Your LNadress"
        type="text"
        v-model="lnaddress"
        required
      ></q-input>
    </div>
  </div>
      <q-btn outline class="q-mt-lg" type="submit">Join numbers game</q-btn>
      <q-btn
        class="q-ml-lg q-mt-md"
        unelevated
        dense
        size="col-md-5"
        icon="link"
        :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
        @click="copyText"
        ><q-tooltip>Copy numbers link</q-tooltip></q-btn
      >
      <q-btn
        class="q-ml-lg q-mt-md"
        unelevated
        dense
        size="col-md-5"
        icon="help"
        :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
        ><q-tooltip
          >This is a numbers game. <br />Pick your number, the amount of sats to bet and your LNaddress and pay the
          invoice to join. <br />On the closing date the last block hash will be used to determine the winning number.
          <br />(minus the registration fee)</q-tooltip
        ></q-btn
      >
    </q-form>
  </q-card-section>

  <q-card-section v-else class="q-pa-none">
    <center>
      <h2 class="q-my-none">Game Complete</h2>
      <h5 class="q-my-none">Block:<span v-text="block_height"></span>
        ,Number:<span v-text="height_number">
      </span></h5>
      <q-icon color="teal" name="check" size="30em"></q-icon>
    </center>
  </q-card-section>
</q-card>

<q-dialog v-model="qr.show" position="top">
  <q-card class="q-pa-lg q-pt-xl lnbits__dialog-card">
    <q-responsive :ratio="1" class="q-mx-xl q-mb-md">
      <lnbits-qrcode
        :value="qr.payment_request"
        :options="{width: 800}"
        class="rounded-borders"
      ></lnbits-qrcode>
    </q-responsive>
    <div class="text-h6 q-mb-md">Pay this invoice to join the game</div>
    <div class="row q-mt-lg">
      <q-btn outline color="grey" @click="copyInvoice">Copy URL</q-btn>
      <q-btn v-close-popup flat color="grey" class="q-ml-auto">Close</q-btn>
    </div>
  </q-card>
</q-dialog>

<q-dialog v-model="algorithm" position="top">
  <q-card class="q-pa-lg q-pt-xl lnbits__dialog-card">
    <code>
      block_hash = (from last block <span v-text="numbers.closing_date"></span>)<br>
      tail_hex = block_hash[-4:] <br>
      tail_decimal = int(tail_hex, 16)<br>
      height_number = tail_decimal % <span v-text="odds"></span> (odds being <span v-text="odds"></span>-1)<br>
    </code>
  </q-card>
</q-dialog>

<q-dialog v-model="paymentTick" position="top">
  <q-icon
    name="check"
    transition-show="fade"
    class="text-light-green"
    style="font-size: min(90vw, 40em)"
  ></q-icon>
</q-dialog>

{% endblock %} {% block scripts %}
<script>
  window.app = Vue.createApp({
    el: '#vue',
    mixins: [windowMixin],
    data() {
      return {
        algorithm: false,
        gameComplete: false,
        game_id: '{{ game_id }}',
        completed: '{{ completed }}' == 'True' ? true : false,
        block_height: '{{ block_height }}',
        height_number: '{{ height_number }}',
        odds: '{{ odds }}',
        pot: parseFloat('{{ pot }}').toFixed(1),
        paymentTick: false,
        numbers: {
          name: '',
          number_of_players: 0,
          buy_in: 0
        },
        numbers: {},
        lnaddress: '',
        number: 0,
        amount: 0,
        qr: {
          show: false,
          payment_request: '',
          payment_hash: ''
        }
      }
    },
    methods: {
      async joinGame() {
        try {
          const data = {
            game_id: this.game_id,
            settings_id: this.numbersPageId,
            ln_address: this.lnaddress
          }
          const response = await LNbits.api.request(
            'POST',
            '/numbers/api/v1/numbers/join/',
            '',
            data
          )
          if (response.data) {
            this.qr.payment_request = response.data.payment_request
            this.qr.payment_hash = response.data.payment_hash
            this.qr.show = true
            this.websocket()
          }
        } catch (error) {
          LNbits.utils.notifyApiError(error)
        }
      },
      websocket() {
        const url = new URL(window.location)
        url.protocol = url.protocol === 'https:' ? 'wss' : 'ws'
        url.pathname = `/api/v1/ws/${this.qr.payment_hash}`
        const ws = new WebSocket(url)
        ws.addEventListener('message', async ({data}) => {
          data = JSON.parse(data)
          if (data['pending'] == false) {
            this.$q.notify({
              type: 'positive',
              message: 'Invoice paid, you joined the game!'
            })
            this.qr.show = false
            this.paymentTick = true
            this.pot = (
              parseFloat(this.pot) +
              (this.numbers.buy_in -
                this.numbers.buy_in * (parseFloat(this.numbers.haircut) / 100))
            ).toFixed(1)
            this.lnaddress = ''
            ws.close()
          }
        })
      },
      copyText() {
        Quasar.copyToClipboard(window.location.href).then(() => {
          Quasar.Notify.create({
            message: 'Copied numbers link to clipboard!',
            position: 'bottom'
          })
        })
      },
      copyInvoice() {
        Quasar.copyToClipboard(this.qr.payment_request).then(() => {
          Quasar.Notify.create({
            message: 'Invoice URL copied to clipboard!',
            position: 'bottom'
          })
        })
      }
    },
    async mounted() {
      try {
        const response = await LNbits.api.request(
          'GET',
          `/numbers/api/v1/numbers/${this.game_id}`
        )
        this.numbers = response.data
        this.numbers.closing_date = Quasar.date.formatDate(
    new Date(this.numbers.closing_date),
    'YYYY-MM-DD HH:mm'
  )
        this.activeGame = true
      } catch (error) {
        LNbits.utils.notifyApiError(error)
      }
    }
  })
</script>
{% endblock %}
